@import "var";
@import "keyframes";

/* ---------------------------------------------------------------------------
                                        FONTS
 --------------------------------------------------------------------------- */
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
  url('../fonts/opensans-bold-webfont.woff') format('woff'),
  url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
  url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansextrabold';
  src: url('../fonts/opensans-extrabold-webfont.eot');
  src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
  url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
  url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansitalic';
  src: url('../fonts/opensans-italic-webfont.eot');
  src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
  url('../fonts/opensans-italic-webfont.woff') format('woff'),
  url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
  url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light-webfont.woff2') format('woff2'),
  url('../fonts/opensans-light-webfont.woff') format('woff'),
  url('../fonts/opensans-light-webfont.ttf') format('truetype'),
  url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/opensans-regular-webfont.woff') format('woff'),
  url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
  url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
  url('../fonts/opensans-semibold-webfont.woff') format('woff'),
  url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
  url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}
/* ---------------------------------------------------------------------------
                                       FONTS
--------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------
                                        RESET
 --------------------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html{
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}

h1{
  font-size:  3em;
  font-weight: bold;
}
a, a:hover{
  text-decoration: none;
}
/* ---------------------------------------------------------------------------
                                        RESET
 --------------------------------------------------------------------------- */

body{
  background: darken(#292728, 20%) url("../images/bg_main.png") repeat;
  background-size: auto, auto, auto;
  font-size: 100%;
  color: #fff;
  font-family: 'open_sansregular', arial,sans-serif;
}
main{
  height: 100%;
  width: 100%;
  opacity: 0;
}
.bg{
  background: url("../images/bg_main.png") repeat,
              url("../images/bg2.png") repeat,
              darken(#292728, 20%) url("../images/bg.png") center center no-repeat;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
.welcome {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 150px;
  max-width: 110px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;

     h1 {
      font-size: 3.5em;
      text-shadow: 1px 1px 2px #000;
      opacity: 0;
    }
}
.contact {
  background: rgba(0, 255, 255, 0.4) none repeat scroll 0 0;
  border: 1px solid #018181;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: block;
  margin-top: 10px;
  opacity: 0;
  padding: 5px;
  -webkit-box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
  box-shadow: 0 0 2px #000;
  text-shadow: 1px 1px 2px #444;
  cursor: pointer;
}
.transition{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.contact:hover{
  text-shadow:0 0 2px #444;
  background: #333 none repeat scroll 0 0;
  border-color: #222;
}

.form-mail {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 330px;
  max-width: 400px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  padding: 20px 20px 0 0;

  .close {
    background: rgba(0, 0, 0, 0) url("../images/close.png") repeat scroll 0 0;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    position: relative;
    right: -100%;
    width: 15px;
  }

  fieldset{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0 10px 10px;
    border: 2px solid #00b5e2;
    background: rgba(0, 0, 0, 0.4) url("../images/bg_main.png") repeat scroll 0 0;

    legend {
      color: #00b5e2;
      padding: 0 10px;
      margin-left: 10px;
      font-weight: bold;
    }
  }

  .submit-wrap{
    text-align: right;

    input {
      border: medium none;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 1px 1px 2px #000 ;
      -moz-box-shadow: 1px 1px 2px #000 ;
      box-shadow: 1px 1px 2px #000 ;
      margin-top: 10px;
      padding: 2px 20px;
      cursor: pointer;
      background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(44, 84, 98, 0.75) 10%, rgba(0, 181, 226, 0.5) 50%, rgba(44, 84, 98, 0.75) 90%) repeat scroll 0 0;
      background: -webkit-linear-gradient(to top, rgba(44, 84, 98, 0.75) 10%, rgba(0, 181, 226, 0.5) 50%, rgba(44, 84, 98, 0.75) 90%);
      background: -moz-linear-gradient(to top, rgba(44, 84, 98, 0.75) 10%, rgba(0, 181, 226, 0.5) 50%, rgba(44, 84, 98, 0.75) 90%);
      background: -ms-linear-gradient(to top, rgba(44, 84, 98, 0.75) 10%, rgba(0, 181, 226, 0.5) 50%, rgba(44, 84, 98, 0.75) 90%);
      background: -o-linear-gradient(to top, rgba(44, 84, 98, 0.75) 10%, rgba(0, 181, 226, 0.5) 50%, rgba(44, 84, 98, 0.75) 90%);
      color:#fff;
    }

    input[required] {
      opacity: 0.3;
    }
  }
  .title-textarea {
    margin: 20px 0 10px;
    text-align: center;
  }
  .red-alert {
    background: #f00 none repeat scroll 0 0;
    color: #fff;
  }

  textarea {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 100px;
    width: 100%;
    -webkit-box-shadow: 1px 1px 2px #000 inset;
    -moz-box-shadow: 1px 1px 2px #000 inset;
    box-shadow: 1px 1px 2px #000 inset;
    padding: 3px 5px;
    background: #ccc;
  }
  .label-form {
    display: block;
    margin: 10px 0;

    .red-alert {
      background: #f00 none repeat scroll 0 0;
      color: #fff;
    }
    .title-input {
      display: inline-block;
      max-width: 100px;
      width: 100%;
    }

    input {
      background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(44, 84, 98, 0.75) 10%, rgba(0, 181, 226, 0.5) 50%, rgba(44, 84, 98, 0.75) 90%) repeat scroll 0 0;
      background: -webkit-linear-gradient(to top, rgba(44, 84, 98, 0.75) 10%, rgba(0, 181, 226, 0.5) 50%, rgba(44, 84, 98, 0.75) 90%);
      background: -moz-linear-gradient(to top, rgba(44, 84, 98, 0.75) 10%, rgba(0, 181, 226, 0.5) 50%, rgba(44, 84, 98, 0.75) 90%);
      background: -ms-linear-gradient(to top, rgba(44, 84, 98, 0.75) 10%, rgba(0, 181, 226, 0.5) 50%, rgba(44, 84, 98, 0.75) 90%);
      background: -o-linear-gradient(to top, rgba(44, 84, 98, 0.75) 10%, rgba(0, 181, 226, 0.5) 50%, rgba(44, 84, 98, 0.75) 90%);
      border: medium none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding: 3px 5px;
      -webkit-box-shadow: 1px 1px 2px #000 inset;
      -moz-box-shadow: 1px 1px 2px #000 inset;
      box-shadow: 1px 1px 2px #000 inset;
      color: #fff;
      width: calc(~"100% - 108px");
      width: -moz-calc(~"100% - 108px");
      width: -webkit-calc(~"100% - 108px");
      width: -o-calc(~"100% - 108px");
    }
  }
}
.display-none{
  display: none;
}
.red-star{
  color: #f00;
}

 /* ---------------------------------------------------------------------------
                                        MEDIA QUERIES
 --------------------------------------------------------------------------- */
@import "media";
